<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om siden</title>
</head>
<body>
    <h1>Coming soon</h1>
    <button id="accessProtected">Access Protected Site</button>

    <script>
        document.getElementById('accessProtected').addEventListener('click', () => {
            console.log(document.cookie)
            acccesProtectedSite()
        });

        async function acccesProtectedSite() {
            let result = await fetch('/about', {
                method: 'GET',
                headers: {
                }
            })
            console.log(await result.json())
        }
    </script>
</body>
</html>