<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <title>Om siden</title>
</head>
<body>
    <%- include('navbar') %>

    <h1>Coming soon</h1>
    <button id="accessProtected">Access Protected info</button>
    <p id="userInfo"></p>

    <script>
        document.getElementById('accessProtected').addEventListener('click', () => {
            console.log(document.cookie)
            acccesProtectedSite(document.cookie.split('=')[1])
        });

        async function acccesProtectedSite(token) {
            console.log(token)
            let result = await fetch('/aboutHeaders', {
                method: 'GET',
                headers: {
                    'authorization': `Bearer ${token}`
                }
            })
            if(result.ok) {
                let data = await result.json()
                document.getElementById('userInfo').textContent = data.email
                console.log(data)
            } else {
                console.log(await result.text())
            }
        }
    </script>
</body>
</html>