<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Document</title>
</head>
<body>
    <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li style="float:right"><a class="active" onclick="logout()">Logout</a></li>
    <li style="float:right"><a class="active" href="/create">Create user</a></li>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
</ul>
</body>
</html>

